.amel {
    text-align: center;
}

.mukhlis {
    text-align: left;
}


.gambar {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.gambar img {
    vertical-align: middle;
}

s